/** @format */
body {
  background-color: rgb(39, 47, 61);
}
.App {
  text-align: center;
  /* min-height: 100vh; */
  color: white;
  /* overflow: hidden; */
}

.title {
  font-size: 5rem;
  margin-top: 3rem;
}
.search-bar {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.grid-container {
  padding: 2rem;
  /* background-color: rgb(24, 25, 41); */
}

.pokemon-outer {
  display: inline-block;
  /* margin: none; */
  /* margin: 20px; */
  /* background-color: red; */
}

.pokemon-container {
  background-color: rgb(50, 60, 78);
  width: 300px;
  height: 450px;
  padding: 25px;
  box-shadow: 0px 0px 10px black, 0px 0px 0px 10px rgb(44, 45, 61),
    0px 0px 30px 10px black;
  /* box-shadow: 0px 0px 20px 5px black; */
  border-radius: 20px;
  /* display: inline-block; */
  float: left;
  margin: 20px;
}
.radar-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.type {
  width: 60px;
  padding: 4px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.6) inset,
    0px -3px 3px rgba(0, 0, 0, 0.6) inset;
}

.type-grass {
  background-color: rgb(100, 188, 63);
}
.type-ice {
  background-color: rgb(133, 207, 207);
}
.type-rock {
  background-color: rgb(170, 142, 42);
}
.type-dragon {
  background-color: rgb(92, 43, 246);
}
.type-dark {
  background-color: rgb(93, 70, 56);
}
.type-psychic {
  background-color: rgb(247, 70, 117);
}
.type-flying {
  background-color: rgb(151, 126, 236);
}
.type-steel {
  background-color: rgb(169, 169, 197);
}
.type-fire {
  background-color: rgb(237, 109, 36);
}
.type-fighting {
  background-color: rgb(179, 36, 30);
}
.type-ground {
  background-color: rgb(217, 178, 85);
}
.type-ghost {
  background-color: rgb(93, 70, 134);
}
.type-poison {
  background-color: rgb(143, 49, 142);
}
.type-water {
  background-color: rgb(84, 126, 236);
}
.type-fairy {
  background-color: rgb(214, 148, 214);
}
.type-electric {
  background-color: rgb(246, 197, 36);
}
.type-normal {
  background-color: rgb(151, 151, 101);
}
.type-bug {
  background-color: rgb(151, 169, 24);
}
